<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.lnki96.op.wifidemo">

    <application>
        <activity android:name="me.lnki96.op.wifidemo.MainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
