<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.lnki96.op.wifidemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:theme="@style/Base.Theme.AppCompat.Light">
        <activity android:name="me.lnki96.op.wifidemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
